<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/app.css">
    <title>Cupcake Store</title>
</head>
<body>
    <div class="cupcake-container">
        {% for cupcake in cupcakes %}
        <div class="cupcake">
            <a href="{{ url_for('view_cupcake', name=cupcake['name']) }}">
                <div class="cupcake-name">{{ cupcake["name"] }}</div>
                </a>
                <div class="details-container">
                    <div class="details">
                        <span>Flavor: {{ cupcake["flavor"] }}</span>
                        <span>Frosting: {{ cupcake["frosting"] }}</span>
                        <span><b>Price: ${{ cupcake["price"] }}</b></span>
                    </div>
                        <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
                        <button>Add to Cart</button>
                        </a>
                </div>
        </div>
        
        {% endfor %}
    </div>
</body>
</html>